._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.env*
.fseventsd
.history
.LSOverride
.next
.Spotlight-V100
.TemporaryItems
.Trashes
.vercel
.VolumeIcon.icns
.vscode
[Dd]esktop.ini
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
coverage
ehthumbs_vista.db
ehthumbs.db
flags.json
Icon
Network Trash Folder
node_modules
Temporary Items
Thumbs.db
Thumbs.db:encryptable
tsconfig.tsbuildinfo
